
  @media screen and (min-width:768px) and (max-width:1900px){
    body {
        margin-bottom: 6rem;
        background-image:url(../images/bg-price.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        background-position: 0 100%;
      }
      #barras {
        animation: opacidad 3s infinite;
     }
     @keyframes opacidad {
         0% {
           opacity: 0;
         }
         100% {
           opacity: 1;
         }
       }
  }

    @media only screen and (max-width: 768px) {
      body {
          background-image:url(../images/bg-price2.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: bottom;
        }
        #barras {
          animation: opacidad 2s infinite;
       }
       @keyframes opacidad {
           0% {
             opacity: 0;
           }
           100% {
             opacity: 1;
           }
         }
    }
