/* Esquema de Colores */
body {
  margin-bottom: 6rem;
  background-image: url(../images/bg-price.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-position: 0rem 84.3rem;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url(../images/bg-price2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.6;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  font-weight: 700;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h6 {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.contenedor__navigacion {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 2% 8%;
  justify-content: space-between;
}

.contenedor__navigacion__brand {
  display: inline-flex;
  padding-right: 0;
}

.contenedor__navigacion__menu {
  padding-left: 1%;
  flex-grow: 1;
}

.contenedor__navigacion__button {
  justify-items: end;
}

@media screen and (min-width: 768px) and (max-width: 1700px) {
  .contenedor__navigacion__bars {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .contenedor__navigacion {
    padding: 4% 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contenedor__navigacion__brand {
    display: inline-flex;
    justify-content: flex-start;
  }

  .contenedor__navigacion__menu {
    display: none;
  }

  .contenedor__navigacion__button {
    display: none;
  }
}
.img-banner {
  width: 100%;
  padding: 0;
}

.contenedor__header {
  padding: 0;
}

.contenedor__header__texto {
  position: absolute;
  width: 32vw;
  padding-left: 8%;
  padding-top: 6%;
}
.contenedor__header__texto h1 {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .contenedor__header {
    padding: 0;
  }

  .contenedor__header__texto {
    position: relative;
    width: 83vw;
    padding-left: 9%;
    padding-top: 16%;
  }
  .contenedor__header__texto h1 {
    padding-bottom: 6%;
  }
}
.contenedor__pie {
  color: #fff;
  display: flex;
  flex-direction: row;
  background-color: #221d23;
  padding: 3rem 4rem;
}

ul li {
  display: inline-flex;
  padding: 0.5rem;
  justify-content: center;
}

.contenedor__pie__write {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .contenedor__pie {
    background-color: #221d23;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .contenedor__pie__menu {
    display: flex;
    justify-content: center;
  }

  .contenedor__pie__write {
    display: flex;
    justify-content: center;
  }
}
.contenedor__titulo-pp {
  text-align: center;
  color: #fff;
}

.contenedor__precios {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 3rem;
  justify-content: center;
}

.contenedor__precios__card1 {
  max-width: 22rem;
  min-width: 22rem;
  min-height: 28rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px #221d23;
  margin: 2rem 1.5rem;
  padding: 1.5rem 2.4rem 0.5rem 2.4rem;
}
.contenedor__precios__card1 h3 {
  font-size: 30px;
}
.contenedor__precios__card1 ul {
  margin-bottom: 9.3rem;
}

.contenedor__precios__card2 {
  max-width: 22rem;
  max-height: 28rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px #221d23;
  padding: 1.5rem 2.2rem 0.5rem 2.2rem;
  margin: 2rem 1.5rem;
}
.contenedor__precios__card2 h3 {
  font-size: 30px;
}
.contenedor__precios__card2 ul {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .contenedor__precios {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.5rem 0.5rem 1.3rem;
    justify-content: center;
  }

  .contenedor__precios__card1 {
    max-width: 17.1rem;
    min-width: 17.1rem;
    max-height: 30.3rem;
    background-color: #fff;
    box-shadow: 1px 1px 2px #221d23;
    margin: 2rem 1.5rem;
    padding: 1rem;
  }
  .contenedor__precios__card1 h3 {
    font-size: 30px;
  }

  .contenedor__precios__card2 {
    width: 17.1rem;
    max-height: 38rem;
    background-color: #fff;
    box-shadow: 1px 1px 2px #221d23;
    padding: 1rem;
    margin: 3rem 1.5rem 3rem 1.5rem;
  }
  .contenedor__precios__card2 h3 {
    font-size: 30px;
  }
  .contenedor__precios__card2 ul {
    margin-bottom: 0rem;
  }
}
.contenedor__titulo {
  text-align: center;
}
.contenedor__titulo h2 {
  color: #221d23;
}

.contenedor__caracteristicas {
  display: flex;
  flex-direction: row;
  padding: 3% 16% 16% 20%;
}

.contenedor__caracteristicas__texto {
  padding: 2% 10% 5% 7%;
}

.contenedor__caracteristicas__graficos {
  padding: 2% 2% 2% 8%;
}

#barras {
  animation: opacidad 3s infinite;
}

@keyframes opacidad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  .contenedor__texto {
    text-align: center;
    margin: 33% 0% 0% 0;
  }

  .contenedor__caracteristicas {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 16rem 2rem;
  }

  .contenedor__caracteristicas__texto {
    padding: 0.5rem;
  }

  .contenedor__caracteristicas__graficos {
    padding: 11% 0;
  }

  #barras {
    animation: opacidad 2s infinite;
  }

  @keyframes opacidad {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.button {
  padding: 0.4rem 0.6rem;
  margin: 0 1rem;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

.button_primary {
  border: none;
  color: #221d23;
  background-color: #fff;
}
.button_primary:hover {
  background-color: #ee9480;
}
.button_primary:focus {
  background-color: #8f9199;
}

.button2 {
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

.button_secundary {
  border: none;
  color: #fff;
  background-color: #2ab7ca;
}
.button_secundary:hover {
  background-color: #77d1dd;
}
.button_secundary:focus {
  background-color: #8f9199;
}

.button3 {
  padding: 3% 33%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

.button_terciario {
  border: none;
  color: #fff;
  background-color: #2ab7ca;
}
.button_terciario:hover {
  background-color: #77d1dd;
}
.button_terciario:focus {
  background-color: #8f9199;
}

.button4 {
  padding: 3% 28%;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1rem;
}

.button_cuarto {
  border: none;
  color: #fff;
  background-color: #2ab7ca;
}
.button_cuarto:hover {
  background-color: #77d1dd;
}
.button_cuarto:focus {
  background-color: #8f9199;
}

@media only screen and (max-width: 768px) {
  .button3 {
    padding: 3% 31%;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    letter-spacing: 0.1rem;
  }

  .button_terciario {
    border: none;
    color: #fff;
    background-color: #2ab7ca;
  }
  .button_terciario:hover {
    background-color: #77d1dd;
  }
  .button_terciario:focus {
    background-color: #8f9199;
  }

  .button4 {
    padding: 3% 24%;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    letter-spacing: 0.1rem;
  }

  .button_cuarto {
    border: none;
    color: #fff;
    background-color: #2ab7ca;
  }
  .button_cuarto:hover {
    background-color: #77d1dd;
  }
  .button_cuarto:focus {
    background-color: #8f9199;
  }
}

/*# sourceMappingURL=main.css.map */
