.img-banner {
    width: 100%;
    padding: 0;
  }
  .contenedor__header {
      padding: 0;
  }
.contenedor__header__texto {
    position: absolute;
    width: 32vw;
    padding-left: 8%;
    padding-top: 6%;

    h1 {
        padding-bottom: 1rem;
    } 
}
  @media only screen and (max-width: 768px) {
    .contenedor__header {
        padding: 0;
    }
  .contenedor__header__texto {
    position: relative;
    width: 83vw;
    padding-left: 9%;
    padding-top: 16%;
      h1 {
          padding-bottom: 6%;
      } 
  }
  }