
.contenedor__navigacion {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 2% 8%;
    justify-content: space-between;
}
.contenedor__navigacion__brand {
    display: inline-flex;
    padding-right: 0;
}
.contenedor__navigacion__menu {
    padding-left: 1%;
    flex-grow: 1;
}
.contenedor__navigacion__button {
    justify-items: end;

}
@media screen and (min-width:768px) and (max-width:1700px){ 
    .contenedor__navigacion__bars {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .contenedor__navigacion {
        padding: 4% 8%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contenedor__navigacion__brand {
        display: inline-flex;
        justify-content: flex-start;
    }
    .contenedor__navigacion__menu {
        display: none;
    }
    .contenedor__navigacion__button {
        display: none;
    }
   
}